<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'log_reg.css' %}">
    <style>
    label[ for=admin],
    label[ for=email],
    label[ for=name],
    label[ for=email],
    label[ for=password],
    label[ for=trainer],
    label[ for=Student],
    label[ for=fullName],
    label[ for=password] {
        color: black;
    }
    h1 {
        color: black;
    }

    .forgot-link p,
    a {
        color: black;
    }

    .register-link p,
    a {
        color: black;

    }
    </style>

</head>

<body>
    <div class="container">
        <div class="image-container">
            <img src="https://img.icons8.com/ios-filled/50/000000/graduation-cap.png" alt="Graduation Cap" class="edu-icon">
            <img src="https://img.icons8.com/ios-filled/50/000000/book.png" alt="Book" class="edu-icon">
            <img src="https://img.icons8.com/ios-filled/50/000000/light-on.png" alt="Lightbulb" class="edu-icon">
        </div>
        <h1>User Login</h1>
        <form id="loginForm" action="{% url 'login' %}" method="post">
{% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <label>User Type:</label>
                <div class="radio-group">
                    <input type="radio" id="admin" name="userType" value="admin" required>
                    <label for="admin">Admin</label>

                    <input type="radio" id="trainer" name="userType" value="trainer">
                    <label for="trainer">Trainer</label>

                    <input type="radio" id="Student" name="userType" value="trainee">
                    <label for="Student">Student</label>
                </div>
            </div>

            <div class="form-group" id="subjectGroup" style="display: none;">
                <label for="subject">Subject:</label>
                <select id="subject" name="subject">
                    <option value="">Select Subject</option>
                    <option value="js">JavaScript</option>
                    <option value="css">CSS</option>
                    <option value="html">HTML</option>
                    <option value="python">Python</option>
                    <option value="java">Java</option>
                    <option value="other">Other</option>

                </select>
            </div>

            <button type="submit" class="submit-btn">Login</button>
        </form>
            <p class="register-link">Don't have an account? <a href="{% url 'registration' %}">Register here</a></p>
        <p class="forgot-link">Don't have forget password? <a href="forgot.html">forgot here</a></p>
    </div>

    <script>
    // Show/hide subject field based on user type
    document.querySelectorAll('input[name="userType"]').forEach(radio => {
        radio.addEventListener('change', (e) => {
            const subjectGroup = document.getElementById('subjectGroup');
            if (e.target.value === 'trainer') {
                subjectGroup.style.display = 'block';
            } else {
                subjectGroup.style.display = 'none';
            }
        });
    });
    </script>
    <!-- <php>
        $con =mysqli_connect('localhost','root','Vishnu@123','Registration');
        if(isset($_post['sub']))
        {
        $Name=$_post['name'];
        $Email=$_post['email'];
        $Password=$_post['password'];
        $ram = "INSERT INTO Registration(Name,Email,Password)values('$Name','$email',$Password)";
        $execute= mysqli_query($con,$ram);
        }




    </php> -->


</body>

</html>